$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icmtag: "\e900";
$icmtelegram: "\e901";
$icmtwitter-logo-silhouette: "\e902";
$icmzoom-in: "\e903";
$icmangle-arrow-down: "\e904";
$icmcalendar-1: "\e905";
$icmcalendar: "\e906";
$icmchecklist: "\e907";
$icmemail: "\e908";
$icmfacebook-logo: "\e909";
$icmicon: "\e90a";
$icminstagram-logo: "\e90b";
$icmlinkedin-letters: "\e90c";
$icmpaper-plane: "\e90d";
$icmphone-call: "\e90e";
$icmplace: "\e90f";
$icmplaceholder-filled-point: "\e910";
$icmSeatch: "\e911";
$icmshopping-cart-of-checkered-design: "\e912";

