@font-face {
    font-family: 'Oranienbaum';
    src: url('../fonts/Oranienbaum/Oranienbaum-Regular.woff2') format('woff2'),
        url('../fonts/Oranienbaum/Oranienbaum-Regular.woff') format('woff'),
        url('../fonts/Oranienbaum/Oranienbaum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

